@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>CemSys is a web-based Cemetery Management System for those who want to get information of where is the ossuary's location of people/relative that has passed away and has record in the cemetery.</p>

<hr />

<h2>Contact</h2>

<address>
    General Santos Ave.<br />
    Taguig City, Manila<br />
    <abbr title="Phone">P:</abbr>
    (02) 555-696-789<br />
    <abbr title="Mobile">M:</abbr>
    0912 345 6789
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:CemSys@gmail.com">CemSys@gmail.com</a><br />
</address>
