@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CemSys</h1>
    <p class="lead">CemSys is a web-based Cemetery Management System.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@using (Html.BeginForm("SearchForLast", "Apply"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <label for="searchTerm">Search</label>
                <input type="text" name="searchTerm" id="searchTerm" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input type="submit" value="Search" class="btn btn-primary btn-group" />
            </div>
        </div>
    </div>
}
